/*----------------------------
	Global Styles
------------------------------*/
* {
  box-sizing: border-box; 
}

.col-nav {
	position: fixed;
	width: 75px;
	height: 100%;
	left: 0;
	top: 150px;
	background-color: #4d4c72;
	transition: width ease .5s;
}

.col-main {
	position: relative;
	margin-left: 75px;
	transition: margin-left ease .5s;
}

.fa {
	color: #fff;
}

.btn {
	height: 55px;
	background-color: #7377bf;
	color: #fff;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
}






/*----------------------------
	Header Styles
------------------------------*/

header {
	height: 75px;
	width: 100%;
	background-color: #7477bf;
}

.title {
	display: inline-block;
}

.title h1 {
	color: #fff;
	margin: 0 0 0 15px;
	padding-top: 16px;
}

.header-content-right {
	float: right;
	margin: 30px 15px 0 0;
}

#bell {
	height: 23px;
	width: 23px;
	float: left;
}


.header-content-right h5 {
	margin: 0 12px;
	float: right;
}

/*----------------------------
	Nav Styles
------------------------------*/

.hamburger {
	float: left;
}

#nav-toggle {
	text-decoration: none;
	font-size: 40px;
	color: #676666;
	margin-left: 14px;
}

.hide {
	display: none;
}


.col-nav img {
	height: 30px;
	width: 30px;
}

ul {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
  }  
    
li {
    margin-bottom: 25px;
}

.col-nav ul li a {
	padding: 22px;
}

.col-nav ul li:first-child {
	border-left: 3px solid #d2d2d2;
}



/*----------------------------
	Search Area
------------------------------*/

.search-area {

}

.dashboard-title {
	display: inline-block;
	width: 125px;
	border-right: 1px solid #d2d2d2;
}

.dashboard-title h3 {
	margin-left: 10px;
	color: #676666;
}

.searchBox {
	float: right;
	width: 100px;
	height: 58px;
}

.searchBox form input {
	float: right;
	height: 35px;
	margin: 12px 5px 0 0;
}

/*----------------------------
	Alert Box
------------------------------*/

.alert {
	width: 100%;
	background-color: #7477bf;
	color: #fff;
	border-radius: 4px;
	vertical-align: middle;
}

.fa-times{
	color: #fff;
}

/*----------------------------
	Chart
------------------------------*/

.lineChartWrapper {
	height: 420px;
	width: 98%;
}

.barChartWrapper {
	height: 420px;
	width: 98%;
}

.donutChartWrapper {
	height: 420px;
	width: 98%;
}

/*----------------------------
	Social Media Widgets
------------------------------*/
	
#socialStats {
	margin-bottom: 40px;
	overflow: auto;
}

	
.socialMediaWidget {
	height: 120px;
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	position: relative;
	margin-left: 2.66666667%;
	margin-right: 2.66666667%;
	
}

.social-inner-box a {
	padding: 5%;
	border-radius: 54%;
	background-color: #7377bf;
	position: absolute;
	top: 20px;
	left: 20px;
}

.social-icon img {
	color: #fff;
	height: 45px;
	width: 45px;
}

.fa {
	font-size: 40px !important;
}


/*----------------------------
	New Members/Recent Activity
------------------------------*/

.new-members,
.recent-activity {
	border-top: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

.new-members h3,
.recent-activity h3 {
	margin-left: 15px;
}

.member {
	margin: 0 0 25px 15px;
	height: 70px;
	border-bottom: 1px solid #d2d2d2;
	
}

.member img {
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}

.member p {
	margin: 0;
}

.member a {
	text-decoration: none;
	vertical-align: middle;
}

#member-marco {
	border-bottom: none;
}


/*----------------------------
	Message User
------------------------------*/


.message-user form input {
	float: left;
	margin-bottom: 15px;
}

.message-user form input,
.message-user form textarea {
	width: 95%;
}

.message-user form textarea {
	height: 150px;
}

#send-btn {
	margin: 15px 0 50px 0;
	width: 95%;
	
}


/*----------------------------
	Settings
------------------------------*/

.settings {
	padding-left: 25px;
}


		/*----------------------------
		Toggle Switches
		------------------------------*/

		.onoffswitch {
		    position: relative; width: 135px;
		    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		}
		.onoffswitch-checkbox {
		    display: none;
		}
		.onoffswitch-label {
		    display: block; overflow: hidden; cursor: pointer;
		    border: 2px solid #999999; border-radius: 20px;
		}
		.onoffswitch-inner {
		    display: block; width: 200%; margin-left: -100%;
		    transition: margin 0.3s ease-in 0s;
		}
		.onoffswitch-inner:before, .onoffswitch-inner:after {
		    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
		    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		    box-sizing: border-box;
		}
		.onoffswitch-inner:before {
		    content: "On";
		    padding-left: 10px;
		    background-color: #7377bf; color: #FFFFFF;
		}
		.onoffswitch-inner:after {
		    content: "Off";
		    padding-right: 10px;
		    background-color: #b2b2b2; color: #FFFFFF;
		    text-align: right;
		}
		.onoffswitch-switch {
		    display: block; width: 26px; margin: 2px;
		    background: #FFFFFF;
		    position: absolute; top: 0; bottom: 0;
		    right: 101px;
		    border: 2px solid #999999; border-radius: 20px;
		    transition: all 0.3s ease-in 0s; 
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
		    margin-left: 0;
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
		    right: 0px; 
		}

#timezone {
	margin-top: 15px;
	width: 95%;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.saveCancel-btns {
	margin-top: 25px;
	width: 95%;
}

#save-btn,
#cancel-btn {
	width: 45%;
}

#save-btn {
	float: left;
	margin-right: 5%;
}

#cancel-btn {
	margin-left: 5%;
	background-color: #b2b2b2;
}

/*----------------------------
	Media Queries
------------------------------*/

@media screen and (min-width: 769px) {

	#dailyTrafficMobileUsers {
		overflow: auto;
		margin: 80px 0 80px 0;
		border-bottom: 1px solid #d2d2d2;
		overflow-y: hidden;
	}

	.barChartWrapper,
	.donutChartWrapper {
		width: 50%;
		border-top: 1px solid #d2d2d2;
		

	}

	.barChartWrapper {
		float: left;
	
	}

	.donutChartWrapper {
		float: right;
		border-left: 1px solid #d2d2d2;
	}


	/*----------------------------
	Social Media Widgets
------------------------------*/



	.social-name {
		float: right;
		margin-right: 50%;
		margin-top: 2%;
	}

	.members-activity {
		border-top: 1px solid #d2d2d2;
	}

	/*----------------------------
	New Members/Recent Activity
------------------------------*/
	
	.new-members,
	.recent-activity {
		width: 50%;
	}

	.member {
		width: 95%;
	}

	.member img {
		margin-right: 15px;
	}

	.member time {
		float: right;
	}

	.new-members {
		float: left;
	}

	.recent-activity {
		float: right;
	}


	/*----------------------------
	Message User
------------------------------*/
	
	.message-user {
		float: left;
		border-right: 1px solid #d2d2d2;
		width: 50%;
	}

	.settings {
		float: right;
		width: 50%;
	}

	.sendEmail p,
	.setProfile p {
		display: inline-block;
	}

	.onoffswitch {
		float: right;
		margin: 4px 180px 0 0;
	}



	/*----------------------------
	Grid
------------------------------*/

.row {
	width: 100%;
}

.col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666667%;
  }
  .col-md-3 {
    width: 28%;
    float: left;
  }
  .col-md-4 {
    width: 33.333333%;
    float: left;
  }
  .col-md-5 {
    width: 41.666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666667%;
  }
  .col-md-12 {
    width: 100%;
  }


}









