/*----------------------------
	Global Styles
------------------------------*/
* {
  box-sizing: border-box; 
}

.col-nav {
	position: fixed;
	width: 0;
	height: 100%;
	left: 0;
	top: 133px;
	background-color: #4d4c72;
	transition: width ease .5s;
	z-index: 1;
	display: none;
	overflow: hidden;
}

.transition {
	/*display: none;*/
	transition: width ease .5s;
}

.col-main {
	position: relative;
	width: 100%;
	transition: padding-left ease .5s;
	margin-top: 50px;
}

.toggle-width {
	padding-left: 75px;
	overflow-x: hidden;

}

.fa {
	color: #fff;
}

.btn {
	height: 55px;
	background-color: #7377bf;
	color: #fff;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
}

h3,
h4,
h5,
h6,
p,
.chart-links li a {
	color: #8f8f8f;
}


#search,
#timezone,
#msg {
	width: 95%;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.search {
	height: 45px;
}

input:focus,
textarea:focus {
	outline: none;
}

#socialStats h3,
.new-members h3,
.recent-activity h3,
.lineChartWrapper h3,
.barChartWrapper h3,
.donutChartWrapper h3 {
	margin-left: 15px;
}




/*----------------------------
	Header Styles
------------------------------*/

header {
	height: 75px;
	width: 100%;
	background-color: #7477bf;
	position: relative;
	z-index: 9999;
}

.title {
	display: inline-block;
}

.title h1 {
	color: #fff;
	margin: 0 0 0 15px;
	padding-top: 16px;
}

.header-content-right {
	float: right;
	margin: 20px 15px 0 0;
}

#bell {
	height: 23px;
	width: 23px;
	float: left;
	margin: 6px 12px 0 0;
}


.header-content-right h5 {
	margin: 8px 12px 0 12px;
	float: right;
	color: #fff;
}

#header-photo {
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

/*----------------------------
	Nav Styles
------------------------------*/

.hamburger {
	float: left;
}

#nav-toggle {
	text-decoration: none;
	font-size: 40px;
	color: #676666;
	margin-left: 14px;
}

body.show nav {
	width: 75px;
}

.col-nav img {
	height: 30px;
	width: 30px;
}

ul {
    list-style: none;
    margin: 95px 0 0 0;
    padding: 0;
  }  
    
li {
    margin: 25px 0;
}

.col-nav ul li a {
	padding: 20px;
}

.green-border {
	border-left: 3px solid #81c98f;
}



/*----------------------------
	Search Area
------------------------------*/



.dashboard-title {
	display: inline-block;
	width: 95%;
	margin-bottom: 30px;
	background-color: #fbfbfb;
}

.dashboard-title h3 {
	margin-left: 10px;
	display: inline-block;
}

.dashboard-title form {
	display: inline-block;
	float: right;
}

.dashboard-title form input {
	height: 35px;
	margin: 12px 5px 0 0;
}

.searchBox {
	
	border-bottom: 1px solid #d2d2d2;

}



.searchBox form input {

}

/*----------------------------
	Alert Box
------------------------------*/

.alert {
	background-color: #7477bf;
	color: #fff;
	border-radius: 4px;
	vertical-align: middle;
	padding: 0 15px 35px 15px;
}

.alert p {
	display: inline-block;
	color: #fff;
}

.alert p span {
	font-weight: bold;
}

.alert a {
	float: right;
}

.fa-times {
	color: #fff;
	font-size: 22px !important;
	margin-top: 12px;
}

/*----------------------------
	Chart
------------------------------*/

#lineChartSection {

}


.lineChartWrapper {
	height: 420px;
	width: 98%;
	margin-top: 25px;
	margin-bottom: 140px;
}

.lineChartWrapper h3 {
	display: inline-block;
}

.chart-links {
	float: right;
	margin-bottom: 20px;
}

.chart-links li {
	display: inline;
	padding-left: 6px;
}

.chart-links li a {
	text-decoration: none;
	padding: 6px 14px;
}

.active {
	background-color: #81c98f;
	border-radius: 18px;
}

.barChartWrapper {
	height: 420px;
	width: 98%;
}

.donutChartWrapper {
	height: 451px;
	width: 98%;
}

/*----------------------------
	Social Media Widgets
------------------------------*/
	
#socialStats {
	margin-bottom: 40px;
	overflow: auto;
}

	
.socialMediaWidget {
	height: 120px;
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	position: relative;
	margin-left: 2.66666667%;
	margin-right: 2.66666667%;
	
}

.social-inner-box a {
	padding: 15px;
	border-radius: 50%;
	background-color: #7377bf;
	position: absolute;
	top: 20px;
	left: 20px;
}

.social-name {
	display: inline-block;
	margin-left: 35%;
	margin-top: 12px;
}

.social-name h3 {
	margin: 5px 0 0 0;
}

.social-name p {
	font-size: 50px;
	margin: 0;
}

.social-icon i {
	color: #fff;
	height: 42px;
	width: 42px;
	text-align: center;
	padding-top: 2px;
}

.fa-facebook,
.fa-twitter,
.fa-google-plus {
	font-size: 38px !important;
}


/*----------------------------
	New Members/Recent Activity
------------------------------*/

.new-members,
.recent-activity {
	border-top: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

.member {
	margin: 0 0 25px 15px;
	height: 70px;
	border-bottom: 1px solid #d2d2d2;
	
}

.member img {
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}

.member p {
	margin: 0;
}

.member a {
	text-decoration: none;
	vertical-align: middle;
}

#member-marco {
	border-bottom: none;
}


/*----------------------------
	Message User
------------------------------*/

.message-user .inner-box {
	padding-left: 25px;
}

.message-user form input {
	float: left;
	margin-bottom: 15px;
}

.message-user form input,
.message-user form textarea {
	width: 95%;
}

.inner-box form {
	position: relative;
}

.message-user form textarea {
	height: 150px;

}

#msgUserSubmitBtn {
	margin: 15px 0 50px 0;
	width: 95%;
	height: 50px;
	background-color: #7377bf;
	color: white;
	border: none;
	border-radius: 3px;

}

#dropdown {
	height: 150px;
	width: 95%;
	border: 1px solid #d2d2d2;
	z-index: 999;
}

#formErrorMsg {
	color: red;
}




/*----------------------------
	Settings
------------------------------*/

.settings {
	padding-left: 25px;
}


		/*----------------------------
		Toggle Switches
		------------------------------*/

		.onoffswitch {
		    position: relative; width: 135px;
		    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		}
		.onoffswitch-checkbox {
		    display: none;
		}
		.onoffswitch-label {
		    display: block; overflow: hidden; cursor: pointer;
		    border: 2px solid #999999; border-radius: 20px;
		}
		.onoffswitch-inner {
		    display: block; width: 200%; margin-left: -100%;
		    transition: margin 0.3s ease-in 0s;
		}
		.onoffswitch-inner:before, .onoffswitch-inner:after {
		    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
		    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		    box-sizing: border-box;
		}
		.onoffswitch-inner:before {
		    content: "On";
		    padding-left: 10px;
		    background-color: #7377bf; color: #FFFFFF;
		}
		.onoffswitch-inner:after {
		    content: "Off";
		    padding-right: 10px;
		    background-color: #b2b2b2; color: #FFFFFF;
		    text-align: right;
		}
		.onoffswitch-switch {
		    display: block; width: 26px; margin: 2px;
		    background: #FFFFFF;
		    position: absolute; top: 0; bottom: 0;
		    right: 101px;
		    border: 2px solid #999999; border-radius: 20px;
		    transition: all 0.3s ease-in 0s; 
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
		    margin-left: 0;
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
		    right: 0px; 
		}

#timezone {
	margin-top: 15px;
	
}

.saveCancel-btns {
	margin-top: 25px;
	width: 95%;
}

#save-btn,
#cancel-btn {
	width: 45%;
}

#save-btn {
	float: left;
	margin-right: 5%;
}

#cancel-btn {
	margin-left: 5%;
	background-color: #b2b2b2;
}

.settings form {
	position: relative;
}

.settings form i {
	position: absolute;
	top: 18px;
	right: 28px;
	 padding: 10px 12px;
}

.fa-chevron-down {
	color: gray;
}

/*----------------------------
	Media Queries
------------------------------*/

@media screen and (min-width: 769px) {

	/*----------------------------
		Nav
	------------------------------*/

	.hamburger {
		display: none;
	}

	.col-main {
		padding-left: 75px;
		overflow-x: hidden;
	}

	.col-nav {
		position: fixed;
		top: 0;
		width: 75px;
		display: inline;
	}

	/*----------------------------
		Alert
	------------------------------*/

	.alert {
		padding: 0 15px 0px 15px;
	}



	/*----------------------------
		Search Area
	------------------------------*/


	#dailyTrafficMobileUsers {
		overflow: auto;
		margin: 80px 0 80px 0;
		border-bottom: 1px solid #d2d2d2;
		overflow-y: hidden;
		height: 500px;
	}

	.barChartWrapper,
	.donutChartWrapper {
		width: 50%;
		border-top: 1px solid #d2d2d2;
	}

	.barChartWrapper {
		float: left;
	
	}

	.donutChartWrapper {
		float: right;
		border-left: 1px solid #d2d2d2;
	}


	/*----------------------------
	Social Media Widgets
------------------------------*/



	.social-name {
		float: right;
		margin-right: 15px;
	}

	.members-activity {
		border-top: 1px solid #d2d2d2;
	}

	/*----------------------------
	New Members/Recent Activity
------------------------------*/
	
	.new-members,
	.recent-activity {
		width: 50%;
	}

	.member {
		width: 95%;
	}

	.member img {
		margin-right: 15px;
	}

	.member time {
		float: right;
	}

	.new-members {
		float: left;
	}

	.recent-activity {
		float: right;
	}


	/*----------------------------
	Message User
------------------------------*/
	
	.message-user {
		float: left;
		border-right: 1px solid #d2d2d2;
		width: 50%;
	}

	.settings {
		float: right;
		width: 50%;
	}

	.sendEmail p,
	.setProfile p {
		display: inline-block;
	}

	.onoffswitch {
		float: right;
		margin: 4px 180px 0 0;
	}



	/*----------------------------
	Grid
------------------------------*/

.row {
	width: 100%;
}

.col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666667%;
  }
  .col-md-3 {
    width: 28%;
    float: left;
  }
  .col-md-4 {
    width: 33.333333%;
    float: left;
  }
  .col-md-5 {
    width: 41.666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666667%;
  }
  .col-md-12 {
    width: 100%;
  }


}

@media screen and (min-width: 1200px) {

	/*----------------------------
	Social Media Widgets
------------------------------*/

	.social-name {
		margin-right: 50px;
	}

}









